input[type=text],
input[type=email],
input[type=password] {
  appearance: none;
  border-radius: 0%;
  height: 30px;
  border: 1px solid var(--form-border-color);
  color: var(--form-text-color);
  background-color: var(--form-bg-color);
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0 .5rem;

  &:focus {
    border: 1px solid var(--form-focus-border-color);
    outline: none;
  }

  &.alert {
    border-color: red;
  }
}