input[type=text],
input[type=email],
input[type=password] {
  appearance: none;
  border-radius: 0%;
  height: 30px;
  border: 1px solid #bbbbbb;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0 .5rem;

  &:focus {
    border: 1px solid #212121;
    outline: none;
  }

  &.alert {
    border-color: red;
  }
}