input[type=text],
 input[type=email],
 input[type=password]{
  appearance: none;
  border-radius: 0%;
  height: 30px;
  border: 1px solid #bbbbbb;
  margin-bottom: 1rem;
  font-size: 1rem;
<<<<<<< HEAD
  font-weight: 300;
  
  &::after {
    box-shadow: 0 0 10px rgba(2, 2, 2, 1);
  }

=======
  padding: 0 .5rem;
>>>>>>> 71c67b04d909ce1358f93dcc2c59a0ecdffa1497

  &:focus {
    border: 1px solid #212121;
    outline: none;
  }
}