button {
  background-color: rgba(0,0,0,0);
  border: none;
  border: 1px solid #616161;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
  :hover {
    cursor: pointer;
  }
}

.basic-button {
  border: none;
  margin-left: auto;
}

.close-button {
  font-size: .8rem;
  border: 1px solid #000;
  padding: .3rem;
  margin-top: 1rem;
}

.disabled-button {
  border-color: #999;
  color: #999;
  cursor: default;
}

.menu-button {
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    border: none;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
}