button {
  transition: all .2s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border: 1px solid var(--button-border-color);
  color: var(--button-text-color);
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;

  :hover {
    cursor: pointer;
  }
}

.account-button {
  width: 80%;
  &:hover {
    background-color: var(--button-hover-color);
  }
}

// TODO: find out what you were thinking here:
.afm-btn {
  background-color: grey;
}

.basic-button {
  border: none;
  margin-left: auto;
}

.close-button {
  font-size: .8rem;
  border: 1px solid var(--button-border-color);
  padding: .3rem;
  margin-top: 1rem;
  &:hover {
    background-color: var(--button-hover-color);
  }
}

.disabled-button {
  border-color: var(--button-disabled-border-color);
  color: var(--button-disabled-text-color);
  cursor: default;
  &:hover {
    background-color: rgba(0, 0, 0, 0);
  }
}

.menu-button {
  margin-top: 1vh;
  margin-bottom: 1.5vh;
  border: none;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
}