.color {
  height: 20%;
  cursor: pointer;

  .indicator-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .hex {
      color: rgba(255, 255, 255, .5);
      font-size: 16px;
      font-weight: 600;
      margin-right: 7vw;
      opacity: 30;
    }

    .indicator {
      background-color: rgba(255, 255, 255, .5);
      width: 1em;
      height: 1em;
      border-radius: 100%;
      margin-right: 7vw;
      // opacity: 30;
    }
  }
}

