.editor {
  position: absolute;
  bottom: 0;
  // left: 0;
  width: 100%;
  height: 16vh;
  display: flex;
  justify-content: space-evenly;
  cursor: default;
}

.visible {
  display: inline;
}

.hidden {
  display: none;
}