.modal {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;

  .close-button-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    width: 81%;
  }
}

.sign-in, .account-settings, .account-info-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;

  // .account-info-input {
  //   width: 100%;
  //   background-color: red;
  //   display: flex;
  //   flex-direction: column;

  //   input

  //   button {
  //     width: 80%;
  //   }
  // }

  .sign-in-form, .account-button-container, .account-info-input {
    width: 80%;

    input {
      width: calc(100% - 1rem);
    }

    button {
      width: 100%;
    }
  }

  button {
    width: 80%;
  }
}

.user-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-button-container {
    display: flex;
    flex-direction: column;
    width: 81%;
  }
}