.composer-animate {
  animation: composer-animate 70ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes composer-animate {
  from {
    width: 100%;
  }
  to {
    width: 83%;
  }
}

.composer-animate-return {
  animation: composer-animate-return 70ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes composer-animate-return {
  from {
    width: 83%;
  }
  to {
    width: 100%;
  }
}
