.slider-container {
  display: flex;
  align-items: center;

  p {
    color: rgba(255, 255, 255, .5);
    width: 3em;
    height: 1.3em;
    // border-radius: 5px;
    margin-left: 2em;
    margin-right: 1em;
  }

  .slider {
    appearance: none;
    height: 9px;
    width: 70%;
    margin-right: 3em;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, .5);
    overflow: hidden;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 21px;
    height: 11px;
    border: none;
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    mix-blend-mode: overlay;
  }
}