.composer-animate {
  animation: composer-animate 70ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes composer-animate {
  from {
    width: 100%;
  }
  to {
    width: 83%;
  }
}

.composer-animate-return {
  animation: composer-animate-return 70ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes composer-animate-return {
  from {
    width: 83%;
  }
  to {
    width: 100%;
  }
}

@media screen and (min-width: 768px) { 
  .composer-animate {
    animation: composer-animate 70ms ease-in;
    animation-fill-mode: forwards;
  }
  
  @keyframes composer-animate {
    from {
      width: 100vw;
    }
    to {
      width: 92vw;
    }
  }

  .composer-animate-return {
    animation: composer-animate-return 70ms ease-in;
    animation-fill-mode: forwards;
  }
  
  @keyframes composer-animate-return {
    from {
      width: 92vw;
    }
    to {
      width: 100vw;
    }
  }
}

@media screen and (min-width: 1200px) {
  .composer-animate {
    animation: composer-animate 70ms ease-in;
    animation-fill-mode: forwards;
  }
  
  @keyframes composer-animate {
    from {
      width: 100vw;
    }
    to {
      width: 94vw;
    }
  }
  
  .composer-animate-return {
    animation: composer-animate-return 70ms ease-in;
    animation-fill-mode: forwards;
  }
  
  @keyframes composer-animate-return {
    from {
      width: 94vw;
    }
    to {
      width: 100vw;
    }
  }
}